.container { 
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: -1; 
  pointer-events: none; 
  overflow: hidden;
}

.ponto-luz {
  position: absolute;
  background-color: rgba(80, 87, 255, 0.8); 
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 200px 100px rgba(80, 87, 255, 0.6); 
  animation: brilho 5s infinite alternate ease-in-out; 
  transition: top 10s ease-in-out, left 1s ease-in-out; 
  z-index: -2;
}

@keyframes brilho {
  0% { opacity: 0.6; }
  100% { opacity: 1; }
}